= form_for @symptom  do |f|
    #symptom_desription
        = f.label :description, 'Symptom Description'
        = f.text_field :description, placeholder: 'e.g. Headache, bloating'
    #new_ingredients
        = f.fields_for :reactions, @symptom.reactions.build do |reaction_fields|
            = reaction_fields.collection_select :ingredient_id, Ingredient.all, :id, :name
            = reaction_fields.label :severity, 'Severity'
            = reaction_fields.number_field :severity, in: 1..10, step: 1
            = reaction_fields.label :stress_level, 'stress level'
            = reaction_fields.number_field :stress_level, in: 1..10, step: 1
            = reaction_fields.label :notes, 'Notes'
            = reaction_fields.number_field :notes, in: 1..10, step: 1
    
    = f.submit