%h1.title Welcome #{current_user.email}!
%p
    = link_to 'Add a meal', nested_new_meal_path(current_user)
    = link_to 'Add new symptom', new_symptom_path
%h2 Recent Meals:
= render partial: 'meal_display', locals: { meals: @meals} 
%h2 Recent Symptoms:
= render partial: 'symptom_display', locals: { symptoms: @symptoms} 